<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>编辑</title>
</head>
<body>
<form action="{% url 'edit_action' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="blog_id" value="{{ blog.id | default:0 }}"/>
    <label>标题
        <input type="text" value="{{ blog.title }}" name="title"/>
    </label>
    <br>
    <label>内容
        <input type="text" value="{{ blog.content }}" name="content"/>
    </label>
    <br>
    <label>
        <input type="submit">
    </label>
</form>
</body>
</html>